* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/assets/cursor/default.svg"), auto;
  text-decoration: none;

  ::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    border-radius: 1rem;

    @media (max-width: 768px) {
      width: 5.5px;
      height: 5.5px;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: var(--podcast-option-play-button-gradient);
    border-radius: 1rem;
    &:hover {
      background: var(--blue-solid);
    }
  }
  ::-webkit-scrollbar-track {
    background: var(--gray-solid);
  }
}

:root {
  //Solid Colors
  --blue-solid: #95D6FF;
  --white-solid: #ffffff;
  --black-solid: #000000;
  --gray-solid: #1c1c1c;
  --green-solid: #70FF35;
  //Gradient Colors
  --header-gradient: linear-gradient(180deg, #252525 -10%, rgba(0, 0, 0, 0.35) 25%);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--blue-solid);
}

body,
input,
textarea,
button {
  font: 500 1rem Poppins, sans-serif;
  color: var(--white-solid);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  color: var(--white-solid);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: url("/assets/cursor/pointer.svg"), auto;
  outline: none;
  border: none;
}
