* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/assets/cursor/default.svg"), auto;
  text-decoration: none;

  ::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    border-radius: 1rem;

    @media (max-width: 768px) {
      width: 5.5px;
      height: 5.5px;
    }
  }
  ::-webkit-scrollbar-thumb {
    background: var(--podcast-option-play-button-gradient);
    border-radius: 1rem;
    &:hover {
      background: var(--orange-solid);
    }
  }
  ::-webkit-scrollbar-track {
    background: var(--gray-solid);
  }
}

:root {
  //Solid Colors
  --orange-solid: #ff6400;
  --white-solid: #ffffff;
  --black-solid: #000000;
  --gray-solid: #1c1c1c;
  //Gradient Colors
  --background-gradient: linear-gradient(90.08deg, #622600 -291.94%, #09090c 70.4%);
  --header-gradient: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.15) 100%);
  --player-background: linear-gradient(0deg, rgb(184, 81, 13), rgba(255, 100, 0, 1));
  --podcast-option-play-button-gradient: linear-gradient(143.2deg, #ff6400 -45.68%, rgba(255, 100, 0, 0) 96.25%);
  --podcast-option-background-gradient: linear-gradient(272.88deg, rgba(16, 16, 16, 0.05) -13.29%, #ff5c00 107.52%);
  --podcast-image-selected-box-gradient: linear-gradient(
    144.52deg,
    rgba(18, 18, 18, 0.8) -0.7%,
    rgba(0, 0, 0, 0) 125.23%
  );
  --pause-and-play-button-gradient: linear-gradient(130.5deg, #000000 -6.74%, rgba(0, 0, 0, 0) 133.18%);
  --player-mobile-gradient: linear-gradient(180deg, rgba(255, 100, 0, 0) 0%, #ff6400 147.76%);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background-gradient);
}

body,
input,
textarea,
button {
  font: 500 1rem Poppins, sans-serif;
  color: var(--white-solid);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  color: var(--white-solid);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: url("/assets/cursor/pointer.svg"), auto;
  outline: none;
  border: none;
}
