@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.homepage {
  padding: 0 3rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 3rem;

  @media (max-width: 1150px) {
    padding: 0 2rem 2rem 2rem;
  }

  @media (max-width: 768px) {
    padding: 0 2rem 8rem 2rem;
  }

  h2 {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 135%;
  }

  .mobileHeader {
    @media (min-width: 768px) {
      display: none;
    }

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem 0rem 2rem 0rem;
    gap: 5rem;

    .logoHeader {
      width: 100%;
      display: flex;
      align-items: center;

      .logoContent {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 1rem;

        h2 {
          margin: 0 auto;
        }
      }
    }

    .mobileHeaderMessage {
      width: 100%;
      line-height: 3rem;

      p {
        font-size: 350%;
      }
    }
  }
}

.latestEpisodes {
  ul {
    height: 14.5rem;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    a {
      cursor: url("/assets/cursor/pointer.svg"), auto;
      background: var(--podcast-option-background-gradient);
      padding: 2.5rem 2.5rem;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      height: 12rem;
      gap: 1.5rem;
      transition: all 0.4s ease-out;
      opacity: 0.65;
      text-decoration: none;

      .image {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        transition: all 0.4s ease;
      }

      .episodeDetails {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;

        div {
          cursor: url("/assets/cursor/pointer.svg"), auto;
          width: 100%;
          display: flex;
          color: var(--white-solid);
          font-family: Poppins, sans-serif;
          font-weight: 500;
          text-decoration: none;
          text-overflow: ellipsis;
          line-height: 1.25rem;
          font-size: 110%;
        }

        .textBox {
          cursor: url("/assets/cursor/pointer.svg"), auto;
          width: 100%;
          margin-top: 1rem;
          display: flex;
          line-height: 0.75rem;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          p {
            cursor: url("/assets/cursor/pointer.svg"), auto;
            max-width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: 0.85rem;
            line-height: 1rem;
          }

          .textContent {
            cursor: url("/assets/cursor/pointer.svg"), auto;
            span {
              cursor: url("/assets/cursor/pointer.svg"), auto;
              font-size: 0.75rem;
              font-weight: 500;

              &:last-child {
                padding-left: 2rem;
                position: relative;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        button {
          background: var(--podcast-option-play-button-gradient);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.25rem;
          height: 3.25rem;
          border-radius: 0.625rem;
          animation: pulse 1.5s infinite;
          transition: all 0.4s ease-in-out;
          padding: 1rem 1rem 1rem 1.15rem;

          img {
            cursor: url("/assets/cursor/pointer.svg"), auto;
          }

          &:hover {
            animation: none;
            transform: scale(1.15);
            border-radius: 2rem;
          }
        }
      }

      &:hover {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        transform: translateY(-0.75rem);
        opacity: 1;
        background: var(--pause-and-play-button-gradient);

        .image {
          border-radius: 100%;
          transform: scale(1);
        }
      }
    }
  }
}

.allEpisodes {
  width: 100%;

  h2 {
    font-size: 100%;
    font-weight: 400;
  }

  ul {
    padding: 1rem 0 3rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;

    @media (max-width: 1150px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0;
    }

    @media (max-width: 768px) {
      height: 100%;
      gap: 2rem;
      display: grid;
      align-items: stretch;
      justify-content: flex-start;
      grid-template-columns: repeat(2, 1fr);
    }

    .desktopContent {
      height: 11rem;
      cursor: url("/assets/cursor/pointer.svg"), auto;
      background: var(--black-solid);
      padding: 2rem 3rem;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 1.25rem;
      transition: all 0.4s ease-out;
      opacity: 0.65;
      text-decoration: none;

      @media (max-width: 1150px) {
        padding: 2rem 3rem;
      }

      @media (max-width: 768px) {
        display: none;
      }

      .image {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
        transition: all 0.4s ease;
      }

      .episodeDetails {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        width: 25%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex: 1;

        div {
          cursor: url("/assets/cursor/pointer.svg"), auto;
          width: 100%;
          display: flex;
          color: var(--white-solid);
          font-family: Poppins, sans-serif;
          font-weight: 500;
          text-decoration: none;
          line-height: 1.5rem;
          font-size: 100%;

          @media (max-width: 1150px) {
            font-size: 85%;
            line-height: 1rem;
          }
        }

        .textBox {
          cursor: url("/assets/cursor/pointer.svg"), auto;
          width: 100%;
          margin-top: 0.75rem;
          display: flex;
          line-height: 0.75rem;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          p {
            cursor: url("/assets/cursor/pointer.svg"), auto;
            max-width: 50%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: 0.8rem;
            line-height: 1rem;

            @media (max-width: 1150px) {
              max-width: 75%;
              font-size: 0.5rem;
            }
          }

          .textContent {
            cursor: url("/assets/cursor/pointer.svg"), auto;
            span {
              cursor: url("/assets/cursor/pointer.svg"), auto;
              font-size: 0.7rem;
              font-weight: 500;

              &:last-child {
                padding-left: 2rem;
                position: relative;
              }
            }
          }
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background: var(--podcast-option-play-button-gradient);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          border-radius: 0.625rem;
          animation: pulse 1.5s infinite;
          transition: all 0.4s ease-in-out;
          padding: 1rem 1rem 1rem 1.15rem;

          img {
            width: 15px;
            height: 15px;
            cursor: url("/assets/cursor/pointer.svg"), auto;
          }

          &:hover {
            animation: none;
            transform: scale(1.15);
            border-radius: 2rem;
          }
        }
      }

      &:hover {
        cursor: url("/assets/cursor/pointer.svg"), auto;
        opacity: 1;
        background: var(--pause-and-play-button-gradient);
        transform: scale(1.025);

        .image {
          transform: scale(1);
        }
      }
    }

    .mobileOption {
      @media (min-width: 768px) {
        display: none;
      }

      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      background: transparent;
      color: var(--white-solid);
      gap: 0.75rem;
      padding: 2rem 0;
      margin: 0 auto;

      img {
        border-radius: 1rem;
        height: 12rem;
      }

      div {
        width: 100%;
        color: var(--white-solid) !important;
        font-size: 85%;
      }

      .members {
        font-weight: 300;
        font-size: 50%;
      }
    }
  }
}
