@keyframes waves {
  0%,
  50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1.5);
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
    width: 26.5rem;
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(15rem);
    width: 0rem;
  }
}

.player {
  z-index: 1;
  animation: appearFromRight 0.35s linear;
  background: var(--player-background);
  color: var(--white-solid);
  height: 100vh;
  width: 26.5rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: fixed;
  right: 0;

  @media (max-width: 768px) {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .playing {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  .waves {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.15rem;

    span {
      display: inline-block;
      background-color: var(--white-solid);
      width: 0.2rem;
      height: 0.75rem;
      border-radius: 2px;
      animation: waves 0.85s linear infinite;
    }

    .w1 {
      animation-delay: 0s;
      height: 0.5rem;
    }
    .w2 {
      animation-delay: 0.2s;
      height: 0.25rem;
    }
    .w3 {
      animation-delay: 0.4s;
      height: 1.05rem;
    }
    .w4 {
      animation-delay: 0.6s;
      height: 1.5rem;
    }
    .w5 {
      animation-delay: 0.8s;
    }
    .w6 {
      animation-delay: 1s;
      height: 0.25rem;
    }
    .w7 {
      animation-delay: 1.2s;
      height: 0.5rem;
    }
    .w8 {
      animation-delay: 1.4s;
      height: 0.25rem;
    }
    .w9 {
      animation-delay: 1.6s;
      height: 1.05rem;
    }
    .w10 {
      animation-delay: 1.8s;
      height: 1.5rem;
    }
    .w11 {
      animation-delay: 0.8s;
    }
    .w12 {
      animation-delay: 1s;
      height: 0.25rem;
    }
  }

  footer {
    align-self: stretch;
  }
}

.showedPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  h3 {
    width: 60%;
    font-weight: 600;
    font-size: 100%;
    line-height: 1.25rem;
  }

  p {
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 75%;
    font-weight: 300;
  }

  img {
    width: 15rem;
    height: 100%;
    border-radius: 1.5rem;
  }
}

.emptyPlayer {
  background: var(--podcast-image-selected-box-gradient);
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 90%;
    font-weight: 400;
  }
}

.empty .progress {
  opacity: 0.5;
}

.progress {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    text-align: center;
    font-weight: 300;
    width: 3rem;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 0.25rem;
      background: var(--white-solid);
      border-radius: 2px;
    }
  }
}

.hideButton {
  cursor: url("/assets/cursor/pointer.svg"), auto;
  background: transparent;
  position: fixed;
  bottom: 50%;
  right: 25.25rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--white-solid);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0.9;

  @media (max-width: 768px) {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  svg {
    margin-right: 0.035rem;
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }

    &:hover {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  height: 2rem;
  gap: 1.5rem;

  button {
    background: transparent;
    font-size: 0;
    transition: all 0.4s ease;
    width: 2rem;
    height: 2rem;

    img {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }

    &:disabled {
      opacity: 0.3;
      &.playButton {
        &:hover {
          border-radius: 1rem;
        }
      }
      &:hover {
        transform: none;
      }
    }

    &.isActive {
      filter: invert(1) sepia(1) saturate(1) hue-rotate(360deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--pause-and-play-button-gradient);
      transition: all 0.4s ease;

      &:hover {
        border-radius: 2rem;
      }
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}

.playerHidden {
  animation: appearFromLeft 0.5s linear;
  background: var(--orange-solid);
  color: var(--white-solid);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  position: fixed;
  right: 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.showButton {
  cursor: url("/assets/cursor/pointer.svg"), auto;
  background: transparent;
  position: fixed;
  bottom: 50%;
  height: 2.5rem;
  width: 2.5rem;
  right: 1rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--white-solid);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0.75;

  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  svg {
    margin-right: 0.035rem;
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }

    &:hover {
      cursor: url("/assets/cursor/pointer.svg"), auto;
    }
  }
}
